[package]
name = "speculare-client"
version = "0.1.0"
authors = ["Martichou <martichou.andre@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "3.0.0-beta.2"
chrono = { version = "0.4", features = ["serde"] }
env_logger = "0.8"
hyper = { version = "0.14", features = ["full"] }
hyper-tls = "0.5"
libloading = "0.7"
log = "0.4"
num-integer = "0.1"
openssl = { version = "0.10" }
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
sha1 = "0.6.0"
sys_metrics = { git = "https://github.com/Martichou/sys_metrics" }
termion = "1.5"
text_io = "0.1"
tokio = { version = "1", features = ["full"] }

[[bin]]
name = "speculare-client"
path = "src/main.rs"
bench = false

[lib]
name = "active_users"
path = "plugins/active_users/src/lib.rs"
crate-type = ["dylib"]

[profile.release]
lto = true
opt-level = 3
codegen-units = 1