#------------------------------------------------------------------------------
# ENDPOINT SETTINGS
#------------------------------------------------------------------------------

api_token = "12345667890"
api_url = "http://0.0.0.0:8080/api/guard/hosts"

#------------------------------------------------------------------------------
# HARVEST INTERVALS
#------------------------------------------------------------------------------

harvest_interval = 1
syncing_interval = 1
loadavg_interval = 5

#------------------------------------------------------------------------------
# GLOBAL SETTINGS
#------------------------------------------------------------------------------

cache_size = 16